@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: 'Epilogue', 'Courier New', Courier, monospace;
    background-color: hsl(0, 0%, 98%);
    height: 100vh;
    overflow-x: hidden;
    transition: opacity .8s ease-in-out;
    display: flex;
    flex-direction: column;
}

body::before {
    content: '';
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    transition: all 0.3s ease;
    z-index: 1;
    /* Place the pseudo-element above the body content but below the menu */
    pointer-events: none;
    /* Allow clicks to pass through */
}

.login-button>a {
    text-decoration: none;
    color: black;
}

.menu-button>button {
    width: 80%;
    height: 45px;
    border-radius: 17px;
    font-size: medium;
    font-family: 'Epilogue', 'Courier New', Courier, monospace;
    background-color: hsl(0, 0%, 98%);
}

.menu-title:hover,
.menu-list:hover,
.menu-icon:hover,
#register-link:hover,
.close-menu {
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .nav-bar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 20px;
        height: 50px;
        /* background-color: aqua; */
    }

    .hero-section {
        height: 700px;
    }

    .hero-image {
        height: 300px;
        background-image: url('./images/image-hero-mobile.png');
        background-size: contain;
        background-repeat: no-repeat;
        /* background-color: aqua; */
        background-position: center;
    }

    .text-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 25px;
        padding: 30px 20px;
    }

    .text-container>h1 {
        font-size: 35px;
    }

    .text-container>p {
        line-height: 25px;
        color: hsl(0, 0%, 41%);
        font-size: 18px;
        text-align: center;
    }

    .text-container>button {
        background-color: hsl(0, 0%, 8%);
        color: white;
        padding: 10px;
        border-radius: 17px;
        width: 150px;
        height: 50px;
        font-size: medium;
        font-weight: 500;
        font-family: 'Epilogue', 'Courier New', Courier, monospace;
        border: none;
    }

    .img-section {
        /* background-color: aqua; */
        height: 70px;
        margin: 0px;
        padding-top: 20px;
    }

    .img-row {
        display: flex;
        justify-content: center;
        gap: 35px;
        /* background-color: blue; */
    }

    .menu {
        position: absolute;
        top: 0px;
        right: -300px;
        height: 705px;
        width: 300px;
        background-color: hsl(0, 0%, 98%);
        font-size: 14px;
        padding: 20px 0px;
        /* transform: translateX(100%); */
        /* display: none; */
        transition: all .5s ease;
        z-index: 2;
    }

    .menu-slide-in {
        right: 0;
    }

    .close-menu {
        position: absolute;
        right: 0px;
        padding: 5px 20px;
    }

    .menu-title {
        display: flex;
        gap: 11px;
        margin-left: 40px;
    }

    .menu-options {
        display: flex;
        flex-direction: column;
        gap: 19px;
        padding: 10px;
        margin-left: 45px;
        margin-top: 10px;
    }

    .option {
        display: flex;
        gap: 10px;
        align-items: center;
    }

    .menu-list {
        display: flex;
        flex-direction: column;
        gap: 25px;
        padding: 40px 5px;
        margin-top: 10px;
    }

    .menu-button {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

}

.dimmed::before {
    background: rgba(0, 0, 0, 0.5);
    /* Darken the background */
}

.rotate {
    transform: rotate(180deg);
}

.show {
    display: none;
}

.menu-title>span {
    transition: transform 0.2s ease;
}

@media only screen and (min-width: 600px) {
    .nav-bar {
        /* position: fixed; */
        display: flex;
        flex-direction: row;
        align-content: space-around;
        /* justify-content: space-around; */
        /* justify-content: center; */

        height: 70px;
        /* background-color: aqua; */
    }

    .site-logo {
        /* background-color: blueviolet; */
        display: flex;
        align-items: center;
        margin-left: 40px;
    }

    .menu-icon,
    .close-menu {
        display: none;
    }

    .menu {
        display: flex;
        font-size: 14px;
        /* transform: translateX(100%); */
        /* display: none; */
        justify-content: space-between;
        transition: all .5s ease;
        /* background-color: cadetblue; */
        flex: 1;
    }

    .menu-list {
        display: flex;
        align-items: center;
        column-gap: 3rem;
        /* background-color: aqua; */
        margin-left: 30px;
    }


    .menu-title{
        display: flex;
    }

    .menu-title>p {
        display: inline;
    }

    .menu-button {
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 0px 30px;
        /* background-color: chocolate; */
        /* margin-left: auto; */
        float: right;
    }

    .hero-section {
        height: auto;
        width: 100vw;
        display: flex;
        /* background-color: burlywood; */
        flex: 1;
        flex-direction: row;
        justify-content: space-around;
        padding-top: 40px;
    }

    .hero-image {
        width: 50vw;
        background-image: url('./images/image-hero-desktop.png');
        background-size: contain;
        background-repeat: no-repeat;
        /* background-color: aqua; */
        background-position: center;
        height: 70vh;
        order: 2;
    }

    .hero-text {
        display: flex;
        height: 70vh;
        width: 40%;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        /* background-color: blue; */
        order: 1;
        padding-left: 60px;

    }

    .text-container>h1 {
        font-size: 50px;
    }

    .text-container>p {
        line-height: 25px;
        color: hsl(0, 0%, 41%);
        font-size: 18px;
        text-align: left;
        margin: 30px 0px;
    }

    .text-container>button {
        background-color: hsl(0, 0%, 8%);
        color: white;
        padding: 10px;
        border-radius: 17px;
        width: 150px;
        height: 50px;
        font-size: medium;
        font-weight: 500;
        font-family: 'Epilogue', 'Courier New', Courier, monospace;
        border: none;
        margin-bottom: 30px;
        transition: background-color .4s ease;

    }

    .text-container {
        margin-top: 50px;
    }

    .text-container > button:hover{
        cursor: pointer;
        background-color: white;
        color: black;
        border: 1px solid black;
    }

    .img-section {
        /* background-color: aqua; */
        /* margin: 0px; */
        padding-top: 20px;
        /* justify-self: flex-end; */
        margin-top: auto;
    }

    .img-row {
        display: flex;
        justify-content: center;
        gap: 35px;
        /* background-color: blue; */
    }

    .menu-button>button {
        padding: 0px 20px;
    }

    .menu-options{
        position: absolute;
        background-color: white;
        top: 60px;
        width: 7rem;
        padding: 15px 10px 0px 10px;
        border-radius: 10px;
        row-gap: 20px;
        box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.1);
    }

    .option p{
        display: inline;
    }

    .option{
        margin-bottom: 15px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }

    .menu-title > p{
        color: hsl(0, 0%, 41%);
        font-weight: 500;
    }

    .menu-title > p:hover{
        color: black;
    }

}